:root {
  --cor-1: red;
  --cor-2: white;
  --cor-3: green;
  --paleta-1b: purple;
  --paleta-1p: pink;
  --paleta-12: gray;

  /*Padrões de cores setados*/
}

/* Reset CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
}

input,
textarea,
select {
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*padronização */

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
}

h1 {
  font-size: 4.8rem;
}
